*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 20px;
}
.nav-right .user-icon{
    width: 30px;
    border-radius: 50px;
    margin-right: 0;
} 
.nav-left .menu{
    width: 23px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle .mic-icon{
    width: 18px;

}
.nav-middle .sreach-box{
    border: 1px solid #ccc; 
    margin-right: 18px;
    padding: 8px 15px;
    border-radius: 25px;
}
.nav-middle .sreach-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .sreach-box img{
    width: 15px;
}
.short-link img{
    width: 30px;
    align-items: center;
}
